<form class="col-sm-6" action="{% url 'registration' %}" method="post">{% csrf_token %}
    <div class="form-group">
        {{ reg_form.username }}
        {% if reg_form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ reg_form.username.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ reg_form.email }}
        {% if reg_form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ reg_form.email.errors }}
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ reg_form.password1 }}
        {% if reg_form.password1.errors %}
            <div class="alert alert-danger" role="alert">
                {{ reg_form.password1.errors }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ reg_form.password2 }}
        {% if reg_form.password2.errors %}
            <div class="alert alert-danger" role="alert">
                {{ reg_form.password2.errors }}
            </div>
        {% endif %}

    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>

    {% if reg_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ reg_form.non_field_errors }}
        </div>
    {% endif %}
</form>
