{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h1>Удалить изображения</h1>
    </div>

    <div class="pictures">
        {% if formset.forms %}
            <form method="post" action="{% url 'delete' %}">{% csrf_token %}
                <div class="form">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form.id }}
                        <div class="img-thumbnail">
                            <div class="picture">
                                <a href="{{ form.initial.image.url }}" data-gallery>
                                    <img alt="200x200" src="{{ form.initial.image.small.url }}" style="width: 200px; height: 200px;">
                                </a>
                            </div>

                            <button type="button" class="btn btn-default picture-remove">
                                <span class="glyphicon glyphicon-remove "></span>
                            </button>

                            <div class="delete-check hidden">
                                {{ form.DELETE }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>

        {% else %}
            <div class="alert alert-info" role="alert">
                Изображений нет!
            </div>
        {% endif %}
    </div>

{% endblock %}
