{% extends 'base.html' %}

{% block page_h1 %}
    {% if my %}
        Мои изображения
    {% else %}
        Изображения <strong>{{ gallery_user.username }}</strong>
    {% endif %}

    {% if pictures_count %}
        ({{ pictures_count }})
    {% endif %}

{% endblock %}


{% block pictures %}
    <div class="pictures">

            <a ng-repeat="picture in pictures" href="{$ picture.image_url $}" id="picture_id{$picture.id$}" class="picture" data-gallery >
                <img class="img-thumbnail" alt="200x200" src="{$picture.image_url$}" style="width: 200px; height: 200px;">
            </a>

            {% comment %}<div class="alert alert-info" role="alert">
                Изображений нет!
            </div>{% endcomment %}

    </div>
{% endblock %}