{% extends 'base.html' %}

{% block ngController %}{% if my %}MyPictureListCtrl{% else %}UserPictureListCtrl{% endif %}{% endblock %}

{% block page_h1 %}
    {% if my %}
        Мои изображения
    {% else %}
        Изображения <strong>{{ gallery_user.username }}</strong>
    {% endif %}

{% endblock %}


{% block pictures %}

    <div class="pictures">

        <a ng-repeat="picture in pictures" href="{$ picture.image_url $}" id="picture_id{$ picture.id $}" class="picture" data-gallery >
            <img class="img-thumbnail" alt="200x200" ng-src="{$ picture.image_small_url $}" style="width: 200px; height: 200px;">
        </a>
        <div class="alert alert-info" role="alert" ng-hide="pictures.length">
            Изображений нет!
        </div>

    </div>
{% endblock %}